body{
  background-color: black; 
    /*display: flex;
    justify-content:center;
    background-image: url(a.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: contain;
    background-size: 100%; */
} 
.container{
  display:flex;
  column-gap: 1px;
  row-gap:10px;
  text-align:center;
  
}

.box1{
  background-color: aquamarine;
    width: 200px;
    height:100px;
    font-family:cursive;
    padding: 50px;
    margin: 20px;
    /*border-radius: 5px;
    border-width: 5px; */
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
  
}
  
.box2{
    background-color: aquamarine;
    width: 200px;
    height:100px;
    font-family:cursive;
    padding: 50px;
    margin: 20px;
    /*border-radius: 5px;
    border-width: 5px; */
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
    
} 
.container1{
  display:flex;
  column-gap: 1px;
  row-gap:10px;
  
}
.box3{
  background-color: aquamarine;
  width: 200px;
  height: 100px;
  padding: 50px;
  margin: 20px;
  font-family:cursive;
  /*border-radius: 5px;
  border-width: 5px; */
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 5%;
  
} 
.box4{
  background-color: aquamarine;
  width: 200px;
  height:100px;
  padding: 50px;
  margin: 20px;
  font-family:cursive;
  /*border-radius: 5px;
  border-width: 5px; */
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 5%;
} 
.container2{
  display:flex;
  column-gap: 1px;
  row-gap:10px;

}
.box5{
  background-color: aquamarine;
  /*border: 20px  solid grey;*/
  width: 200px;
  height:100px;
  font-family:cursive;
  padding: 50px;
  margin: 20px;
  /*border-radius: 7px; */
  border-width: 7px; 
  margin-right: 40%;
  margin-left: 40%;
  margin-bottom: 5%;

} 


